.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
}

#topTimer {
    text-align: right;
    font-size: 25px;
}

#fullList li {
    padding: 5px;
}

.clearButton {
    margin-top: 30px;
    margin-right: 10px;
}

.restartButton {
    margin-top: 30px;
}
