.jumbotron {
    padding-top: 10px;
}


.display-4 {
    text-align: center;
    padding-top: 50px;
}

.lead {
    text-align: center;
}

#topTimer {
    text-align: right;
    font-size: 20px;
    color: purple;
    float: right;
}

#fullList li {
    padding: 5px;
}

.clearButton {
    margin-top: 30px;
    margin-right: 10px;
}

.restartButton {
    margin-top: 30px;
}

#viewHighScores {
    position: fixed;
    text-align: left;
    color: purple;
    font-size: 20px;
    padding-bottom: 50px;
}

#viewHighScores:hover {
    color: plum;
}

.answerResponseCorrect {
    color: green;
    font-size: 20px;
}

.answerResponseWrong {
    color: red;
    font-size: 20px;
}